<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <form method="POST" action='/searches'>

      <span>
        Search:
      </span>
      <input type="text" name="searchField">

      <span>
        Search by Author
      </span>
      <input type="radio" name="searchBy" value="author">
      
      <span>
        Search by Title
      </span>
      <input type="radio" name="searchBy" value="title">
    </label>

    <button>Submit</button>

  </form>
</body>
</html>