<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Searches</title>
</head>
<body>
  <h1>Books</h1>
  <ul>
    <% books.forEach(book => { %>
    <li>title: <%=book.title %><br />
        author:  <%=book.author %><br />
        img:  <img src="<%=book.img %>"><br />
        description:  <%=book.description %></li>
    <% }); %>
  </ul>
</body>
</html>