<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/modules.css" />
  <link rel="stylesheet" href="/styles/icons.css" />
  <title>Searches</title>
</head>

<body>
  <main>
    <div id="screenBackground">
      <div id="screenViewPort">
        <ul>
          <% books.forEach(book => { %>
          <li>title: <%=book.title %><br />
            author: <%=book.author %><br />
            img: <img src="<%=book.img %>"><br />
            description: <%=book.description %>
          <button id = "showFormButton">Select this Book</button>
          <form id = "editForm" action="">Test</form>
          <% }); %>
        </li>
        </ul>
      </div>
    </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/scripts/showForm.js"></script>
</body>

</html>