form {
  margin: auto;
  display: flex;
  flex-direction: column;
}

form span, form label {
  padding: 10px;
  border: 1px solid blue;
  width: 100%;
  background: gray;
}

form span, form label {
  font-size: 18px;
  letter-spacing: 0.1em;
}

label {
  display: none;
}

